html { background-color: #1C1C1C; }
a { color: #FF0066; } a:hover {text-decoration: underline;}
strong {color: #FF0066}
body {
	font-family: 'Oswald', arial, serif;
	background-color: white;
	color: white;
	font-size: 1.4em;
	background: #1C1C1C;
}

.highlight, ul, ol, p, .slide-body {
}

.highlight {
	margin:10px;
}

ul {
	margin-top:0px;
	margin-bottom:0px;
}
h1 {
}
 
h3 {
	color: #FAE50B;
	font-size: 1.4em;
	padding: 0px;
	margin-top: 1.2em;
	margin-bottom: 0.4em;
	border-bottom: 3px dotted;
}
#content {
	padding:0em 1em 1em 1em;
	margin-bottom: 3em;
}


