body {
	font-family: 'Signifika', sans-serif;
	color: white;
	font-size: 1.4em;
	background-color: #070707;
}

h1 {
	color: #FFD700;
}

h3 {
	color: #FFD700;
	font-size: 1.4em;
	padding: 0px;
	margin-top: 1.2em;
	margin-bottom: 0.4em;
	border-bottom: 3px dotted;
}

ul {
	margin-top:0px;
	margin-bottom:0px;
}

a { 
	color: #4A9ADC; 
} 

a:hover {
	text-decoration: underline;
}

strong {
	color: #CE22CE;
}

#content {
	padding:0em 1em 1em 1em;
	margin-bottom: 3em;
}
